# WiFi generic
CONFIG_WLAN=y
CONFIG_WIRELESS=y

# Stack wireless
CONFIG_CFG80211=m
CONFIG_MAC80211=m

# Broadcom FullMAC WiFi (brcmfmac)
CONFIG_BRCMUTIL=m
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_PROTO_BCDC=m
CONFIG_BRCMFMAC_SDIO=m


CONFIG_BRCMFMAC_WCC=m
CONFIG_WCN_CORE=m
# Không bắt buộc nhưng safe
# CONFIG_BRCMFMAC_PCIE is not set
# CONFIG_BRCMFMAC_USB is not set
